- workshop , arranged 10th jan 2022 to 14th jan 2022, online..

- Contact: 9975707273 Gmail: aistatics.info@gmail.com

- Exercise: day1st

In [2]:
import numpy as np
np.random.randint(17021,17083)

17025

#### Print your name using print function¶

In [3]:
R = "Apurva Mahajan"
print(R)

Apurva Mahajan

#### Write True or False

In [ ]:
#After sentense write variable declaration whether it is true or False
example:  abc=[1,2,4]     # True

abs=3 -----> #True
1__a=[123] ------> #False
a__1=[123] ------> #True
__a=["1111"]------> #True
kjklkj2=(1,2,3) -----> #True
xyz@=55----->#False
x1234t5678990989898=[1,2,3]------>#True
1233=44------>#False
@abs={1,2,3}------->#False
pune=pune------>#True
pune=44------>#True
pune123=44------->#True
123pune=44------>#False
1_@pune=44------>#False
pune@123=44------>#False
pune______12345=["pune"]------>#True
____pune=["123"]------>#True
a_1_b_2=abc------>#True

#### Difference between = and == (in Two lines)

### Answer :
1.The "=" symbol is used for assignment in programming languages.It is used to assign a value to a variable.For example, in Python, the statement "x = 5" assigns the value 5 to the variable "x".

2.The "==" symbol is used for comparison in programming languages. It is used to check if two values are equal. For example, in Python, the expression "x == 5" evaluates to either True or False, depending on whether the value of "x" is equal to 5 or not.

##### In summary, "=" is used for assignment, while "==" is used for comparison.

#### What is difference between list and tuple (in Two lines)

### Answer :
A list is a mutable data structure in which elements can be added, removed, or modified. It is represented by square brackets [] in Python.

A tuple is an immutable data structure where elements cannot be modified after creation. It is represented by parentheses () or without any delimiters.

##### List =[ ] , Tuple = ( )

#### Use Arithematic Operation for a and b, when a= 5,b=-5¶

In [5]:
a = 5  
b = 5
print(a-b)

0

In [6]:
print(a+b)

10

In [7]:
print(float(a/b))

1.0

In [8]:
print(-a*b)

-25

#### Use Logical Operation for a and m=10,n=9

In [ ]:
#greater than
m > n

In [ ]:
#less than
n < m

In [ ]:
#not Equal to
m != n

In [ ]:
#Equal to
m == n

#### Write code

In [10]:
L=[23,501,"Pune",(1,2,3),2.1,["Python"+"program"]]
L

[23, 501, 'Pune', (1, 2, 3), 2.1, ['Pythonprogram']]

In [11]:
L[-1]

['Pythonprogram']

In [12]:
L[1]

501

In [13]:
L[2:5]

['Pune', (1, 2, 3), 2.1]

In [14]:
L.insert(2,'Baramati')
L

[23, 501, 'Baramati', 'Pune', (1, 2, 3), 2.1, ['Pythonprogram']]

In [16]:
L.remove('Pune')
L

[23, 501, 'Baramati', (1, 2, 3), 2.1, ['Pythonprogram']]

In [17]:
L.append('TCC')
L

[23, 501, 'Baramati', (1, 2, 3), 2.1, ['Pythonprogram'], 'TCC']

In [18]:
L.clear()
L

[]

In [19]:
t=(1,9,4,6,2)   #tuple
t

(1, 9, 4, 6, 2)

In [20]:
t[2:]

(4, 6, 2)

In [22]:
t[:-2]

(1, 9, 4)

In [23]:
x = ("a", "b", "c", "d")
x

('a', 'b', 'c', 'd')

In [27]:
x[1] + x[3]

'bd'

#### Convert x variable type in list datatype and check

In [37]:
m =list(x)

In [38]:
m

['a', 'b', 'c', 'd']

In [39]:
print(type(m))

<class 'list'>

In [40]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print(areas[2])

# Print out last element from areas
print(areas[-1])

# Print out the area of the living room
print(areas[5])

kitchen
9.5
20.0

# Set and dict

In [41]:
Sample_data={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
Sample_data

{'item1': 45.5, 'item2': 35, 'item3': 41.3, 'item4': 55, 'item5': 24}

In [42]:
Sample_data['item2']

35

In [47]:
Sample_data.keys()

dict_keys(['item1', 'item2', 'item3', 'item4', 'item5'])

In [48]:
Sample_data.values()

dict_values([45.5, 35, 41.3, 55, 24])

In [49]:
Sample_data

{'item1': 45.5, 'item2': 35, 'item3': 41.3, 'item4': 55, 'item5': 24}

In [50]:
# Create the d
d = {"hallway": 11.25, "kitchen":18.0, "living room": 20.0, "bedroom": 10.75, "bathroom": 9.50}
d

{'hallway': 11.25,
 'kitchen': 18.0,
 'living room': 20.0,
 'bedroom': 10.75,
 'bathroom': 9.5}

In [52]:
# Replace the bathroom area by 10
d["bathroom"]=10
d

{'hallway': 11.25,
 'kitchen': 18.0,
 'living room': 20.0,
 'bedroom': 10.75,
 'bathroom': 10}

In [53]:
# Change "living room" to "chill zone"
d = {"hallway": 11.25, "kitchen": 18.0, "living room": 20.0, "bedroom": 10.75, "bathroom": 9.50}
d["chill zone"] = d.pop("living room")
d

{'hallway': 11.25,
 'kitchen': 18.0,
 'bedroom': 10.75,
 'bathroom': 9.5,
 'chill zone': 20.0}

####  Create Empty set and check type

In [58]:
empty_set = set()
empty_set

set()

In [59]:
print(type(empty_set))

<class 'set'>

#### Create two sets name of X and Y and apply two methods

In [2]:
X = {1, 2, 3, 4, 5}
Y = {4, 5, 6, 7, 8}

# Method 1: Union
union_set = X.union(Y)
print("Union of X and Y:", union_set)

Union of X and Y: {1, 2, 3, 4, 5, 6, 7, 8}

In [3]:
# Method 2: Intersection
intersection_set = X.intersection(Y)
print("Intersection of X and Y:", intersection_set)

Intersection of X and Y: {4, 5}

#### Create list name of L1 and apply Five methods

In [6]:
# Create a list L1
L1 = [1, 2, 3, 4, 5]

# Method 1: append
L1.append(6)
print(L1)

[1, 2, 3, 4, 5, 6]

In [7]:
# Method 2: extend
L1.extend([7, 8, 9])
print(L1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# Method 3: insert
L1.insert(0, 0)
print(L1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# Method 4: remove
L1.remove(3)
print(L1)

[0, 1, 2, 4, 5, 6, 7, 8, 9]

In [13]:
# Method 5: pop
popped_element = L1.pop()
print("Popped element:", popped_element)
print("List after popping the last element:", L1)

Popped element: 7
List after popping the last element: [0, 1, 2, 4, 5, 6]

#### Create tuple name of T1 and apply two methods

In [15]:
# Create a tuple T1
T1 = (1, 2, 3, 4, 5)

# Method 1: index
index_3 = T1.index(3)
print(index_3)

2

In [16]:
# Method 2: count
count_4 = T1.count(4)
print(count_4)

1

#### Create dict name of D1 and apply two methods

In [17]:
# Create a dictionary D1
D1 = {'name': 'John', 'age': 25, 'city': 'New York'}

# Method 1: keys
keys = D1.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

In [18]:
# Method 2: values
values = D1.values()
print(values)

dict_values(['John', 25, 'New York'])

#### Write variable declaration norms

### Answer :

1.Use descriptive names: Choose meaningful and descriptive names for variables that accurately represent their purpose or value. This improves code readability and makes it easier for others (or yourself) to understand the code.

2.Follow naming conventions: Adhere to the naming conventions specific to the programming language you are using. For example, in Python, it is common to use lowercase letters with underscores for variable names (e.g., my_variable). In JavaScript, camel case is often used (e.g., myVariable).

3.Initialize variables: Always initialize variables with an appropriate initial value. This helps prevent unexpected behavior and ensures that variables have a valid starting point.

4.Declare variables close to their usage: Declare variables as close as possible to the point where they are first used. This helps improve code readability and reduces the chances of accidentally reusing or misinterpreting variables.

5.Use proper data types: Choose the appropriate data type for your variables based on the values they will hold. This ensures type safety and helps prevent unexpected errors or inconsistencies.

6.Avoid using reserved words: Do not use reserved words or keywords of the programming language as variable names. This can lead to syntax errors or confusion.

7.Maintain consistent style: Maintain a consistent style throughout your codebase. Consistency in variable naming, indentation, spacing, and other aspects of code formatting enhances code readability and maintainability.

8.Limit variable scope: Declare variables within the smallest scope necessary to fulfill their purpose. This helps prevent unintended access or modification of variables and promotes good software design principles.